:root{    
    --primary--: #232323;
    --secondary--: #FCB242;
    --details--: #FFFFFF;
}

body{
    font-family: Poppins;
    font-size: 18px;
    color: var(--details--);
}
header{
    background-color: var(--primary--);
}
h1{
    color: var(--details--);
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 72px;
}
header ul li{
    list-style-type: none;
    display: inline;
}
ul li a{
    text-decoration: none;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 8px;
    padding: 8px;
}
.menu-item{
    /* width: 150px;
    height: 150px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); */
    margin: 8px;
}
/* .item-a{
    background-color: var(--secondary--);
} */
.item-a a{
    color: var(--details--);
}
/* .item-b{
    background-color: var(--details--);
} */
.item-b a{
    color: var(--secondary--);
}
.section-name{
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 108px;
}
#about-me{
    background-color: var(--secondary--);
    color: var(--details--);
}
.avatar-photo{
    width: 300px;
    height: 300px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50%;
    margin: 24px;
}
#about-me a{
    color: var(--details--);
}
.hobby{
    border-radius: 50%;
    background-color: var(--details--);
    margin: 8px;
    display: block;
}
.hobby-a{
    width: 200px;
    height: 200px;
}
.hobby-b{
    width: 150px;
    height: 150px;
}
.overlay{
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease-in-out;
    background-color: var(--primary--);
    border-radius: 50%;
}
.overlay-text{
    font-size: 20px;
    position: relative;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.hobby:hover .overlay{
    opacity: 1;
}
#skills{
    background-color: var(--primary--);
}
#skills img{
    background-color: var(--details--);
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 10px;
}
.skill-category{
    font-size: 40px;
    color: var(--secondary--);
}
.skill{
    justify-content: space-between;
    width: 100%;
}
#portfolio{
    background-color: var(--secondary--);
}
.portfolio-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
}
.portfolio-item img{
    width: 300px;
    border-radius: 10px;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    transition: filter 0.5s ease-in-out;
}
.overlay-portfolio{
    position: relative;
    width: 100%;
    height: 100%;
}
.overlay-portfolio .overlay-portfolio-text{
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    background-color: var(--details--);
    top:50%; 
    transform:translate(0%, -50%); 
    text-align: center;
    opacity: 0;
    color: var(--primary--);
    text-decoration: none;
    transition: opacity 0.5s ease-in-out;
}
.overlay-portfolio:hover .overlay-portfolio-text{
    opacity: 0.9;
}
.portfolio-item:hover img{
    filter: blur(2px);
    -webkit-filter: blur(2px);
}
#contact{
    background-color: var(--primary--);
}
input[type=text]{
    width: 300px;
    height: 40px;
    border: 2px solid var(--primary--);
    border-radius: 10px;
    transition: ease-in-out, border .35s ease-in-out;
}
input[type=text]:focus{
    border: 2px solid var(--secondary--);
}
textarea{
    width: 300px;
    border: 2px solid var(--primary--);
    border-radius: 10px;
    resize: none;
    transition: ease-in-out, border .35s ease-in-out;
}
textarea:focus{
    border: 2px solid var(--secondary--);
}
.button-cta{
    width: 100px;
    height: 3em;
    background-color: var(--secondary--);
    color: var(--details--);
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button-cta:hover, .button-cta:active{
    background-color: var(--details--);
    color: var(--secondary--);
}